@media screen and (max-width: 576px) {
  header {
    margin: 0px 20px;
  }
  nav > ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 0.8rem;
    margin: 0 30px;
  }
  .search-travel {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  main {
    margin: 0px 20px;
  }

  .popular-section {
    margin: 40px 0px;
    flex-direction: column;
    gap: 40px;
  }
  .popular-image {
    width: 100%;
  }
  .destination-section-title{
    font-size: 2rem;
  }
  .row {
    flex-direction: column;
  }
  .img-container > img {
    width: 100%;
  }
}
