* {
  margin: 0;
  padding: 0px;
  font-family: "Mulish", sans-serif;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 40px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #ff5400;
  font-weight: 700;
  cursor: pointer;
}
.section-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.section-description {
  max-width: 600px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
}
/* Header */
header {
  max-width: 1440px;
  margin: 0px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav {
  display: flex;
}
nav > ul {
  display: flex;
  gap: 2rem;
}
nav li {
  list-style: none;
}
nav a {
  color: #424247;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
}
.active {
  color: #ff5400;
}

.hamburger {
  cursor: pointer;
  display: none;
  font-size: 1.4rem;
}

/* banner */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/banner.png") no-repeat;
  height: 500px;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
}

.banner-description {
  color: #fff5f5;
  margin-bottom: 2rem;
  max-width: 676px;
  text-align: center;
}

.search-travel {
  display: flex;
  gap: 1.6rem;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
select {
  color: #13131880;
  width: 200px;
  height: 48px;
  padding: 0.8rem;
  border-radius: 8px;
  background: #fff;
}

/* main */
main {
  max-width: 1440px;
  margin: 0px auto;
}
/* section */
section {
  margin: 50px 0px;
}
/* popular Section */
.popular-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-title {
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
}

.popular-image {
  max-width: 540px;
  max-height: 500px;
}
.popular-content > ul > li,
p {
  margin: 24px 0px;
  max-width: 600px;

  color: rgba(19, 19, 24, 0.7);
}

.popular-description {
  margin-bottom: 32px;
}
.popular-content > ul {
  margin-left: 40px;
}
/* Travel Destination*/
.destination-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.destination-image {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.row {
  display: flex;
  gap: 24px;
}
.img1 {
  width: 710px;
}
.img2 {
  width: 715px;
}
.img-container {
  position: relative;
}
.img-container > img {
  height: 300px;
}

.img-center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
}

/* why-us section */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chose-us-content1 {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.chose-us-content2 {
  display: flex;
  justify-content: center;
}
.card {
  padding: 32px;
  width: 50%;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.bg-blue {
  background: rgba(41, 206, 246, 0.05);
}
.card > img {
  width: 64px;
  height: 64px;
}
.card-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 1rem;
}
.card-description {
  color: #5a5a5d;
}
.offer-row {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  border-radius: 16px;
  background: lightgray 50% url("../images/offer-row1.png") no-repeat;
  background-size: cover;
  height: 450px;
  padding: 50px;
}

.offer-card {
  max-width: 580px;
  height: 350px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
}
.offer-details {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 24px;
}
.orange {
  color: #ff5400;
}
.offer-details > h3 {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.offer-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}


















/* newsletter */
.news-letter {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.news-letter-content {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
  height: 340px;
  max-width: 40%;
}
.newsletter-image-container {
  width: 60%;
  position: relative;
}
.background {
  width: 100%;
  height: 420px;
}
.discount {
  position: absolute;
  bottom: 8px;
  right: 2px;
  width: 200px;
  rotate: -30deg;
}
.news-letter-heading {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.news-letter-description {
  width: 330px;
  color: #5a5a5d;
  margin-bottom: 16px;
}
.horizontal-line {
  width: 100%;
  border: 1px solid rgba(19, 19, 24, 0.1);
}

.input-filed {
  width: 100%;
  height: 48px;
  padding: 5px 0px 0px 10px;
  color: rgba(19, 19, 24, 0.3);
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  margin: 16px 0px;
  outline: none;
}
.subscribe {
  width: 100%;
  height: 52px;
  display: inline-flex;
  justify-content: center;
  gap: 0px;
}

@media screen and (max-width: 576px) {
  header {
    margin: 0px 20px;
  }
  nav > ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 0.8rem;
    margin: 0 30px;
  }
  .search-travel {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  main {
    margin: 0px 20px;
  }

  .popular-section {
    margin: 40px 0px;
    flex-direction: column;
    gap: 40px;
  }
  .popular-image,
  .newsletter-image-container {
    width: 100%;
  }
  .destination-section-title {
    font-size: 2rem;
  }
  .row,
  .news-letter {
    flex-direction: column;
  }
  .img-container > img {
    width: 100%;
  }
  .chose-us-content1 {
    flex-direction: column;
    width: 100%;
  }
  .card {
    width: auto;
  }
  .news-letter {
    margin: 0px 20px;
  }
  .news-letter-content {
    max-width: 100%;
  }
}
